<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Строка с данными залогиненного юзер</h2>
<div class="container">
  <div class="row">
    <div class="col-1">
      <a href="/admin">Admin</a>
      <a href="/user">User</a>
    </div>
    <div class="col">
      <h1>Admin panel</h1>
      <input type="button" value="New User"
             onclick="window.location.href='/admin/addUser'">
      <table>
        <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}" th:attr="id=${user.id}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.lastName}"></td>
          <td th:text="${user.age}"></td>
          <td>
            <script>
              function updateUser(button) {
                const row = button.closest("tr");
                const userId = row.getAttribute("id");
                window.location = "/admin/updateUser?UserID=" + userId;
              }
            </script>
            <input type="button" value="Update"
                   onclick="updateUser(this)">
            <script>
              function deleteUser(button) {
                const row = button.closest("tr");
                const userId = row.getAttribute("id");
                window.location = "/admin/deleteUser?UserID=" + userId;
              }
            </script>
            <input type="button" value="Delete"
                   onclick="deleteUser(this)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>